<div class="control-section">
  <div class="col-lg-12 content-wrapper" id="header">
    <div class="row" style="align-content:center">
      <div class="col-md">
        <div class="display-4" style="text-align:right">Kintramurals</div>
      </div>
      <div class="col-md" style="position: relative; align-self: right;">
        <img src="../../assets/logo.png">
      </div>
    </div>
  </div>
  <div class="col-lg-9 content-wrapper">
    <ejs-schedule #schedule height='900px' [(selectedDate)]="selectedDate" [eventSettings]="eventSettings"
      (eventRendered)="oneventRendered($event)">
      <e-views>
        <e-view option="Week"></e-view>
        <e-view option="Month"></e-view>
      </e-views>
    </ejs-schedule>
  </div>

  <div class="col-lg-3 property-section">
    <div class="row" id="filterRow">
      <div class="col-md">
        <!--<form id="filters" action="">
        <table id="property-table" title="Properties">
          <colgroup style="height: 70pm" margin="10px">
            <col class="tags" style="width: 50%">
            <col id="values">
          </colgroup>
          <tbody>

            <tr id="date">
              <td>Current Date</td>
              <td>
                <div>
                  <ejs-datepicker #datepicker [(value)]='selectedDate' width="200px"></ejs-datepicker>
                </div>
              </td>
            </tr>
            <tr id="event-name">
              <td>Event Name</td>
              <td>
                <div>
                  <input type="text" id="event-input" value="">
                </div>
              </td>
            </tr>
            <tr id="type">
              <td>Type</td>
              <td>
                <select name="event-type" form="event-type-form">
                  <option value="">Select Type</option>
                  <option value="Sports">Sports</option>
                  <option value="Recreational">Recreational</option>
                  <option value="Mental Wellness">Mental Wellness</option>
                  <option value="Board Games">Board Games</option>
                  <option value="Fitness">Fitness</option>
                </select>
              </td>
            </tr>
            <tr id="participants">
              <td>Participants</td>
              <td>
                <div>
                  <input type="text" id="event-input" value="">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary">Submit</button>
      </form> -->
        <h3 class="display-4">Filter Events</h3>
        <form #filterForm="ngForm" (ngSubmit)="filteredData(filterForm.form);">
          <input [(ngModel)]="filterForm.date" type="date" class="form-control" name="date" placeholder="MM/DD/YYYY"
            [ngStyle]="{'font-size':'16px', 'line-height':'1.5', 'height':'40px', 'width':'100%'}">
          <input [(ngModel)]="filterForm.Category" [ngStyle]="{'font-size':'16px', 'line-height':'1.5', 'height':'40px', 'width':'100%'}"
            type="text" class="form-control" name="Category" placeholder="Select a Category">
          <button class="btn btn-outline-primary waves-effect btn-lg">Submit</button>
        </form>
      </div>
    </div>
    <div class="row" id="eventRow">
      <div class="col-md">
        <h3 class="display-4">Add a new event</h3>
        <form #eventForm="ngForm" (ngSubmit)="addNewEvent(eventForm.form);">
          <input [(ngModel)]="eventForm.name" [ngStyle]="{'font-size':'16px', 'line-height':'1.5', 'height':'40px', 'width':'100%'}"
            type="text" class="form-control" placeholder="Event Name" name="eventName" id="eventNameInput">
          <input [(ngModel)]="eventForm.date" type="date" class="form-control" name="date" placeholder="MM/DD/YYYY" id="eventDateInput"
            [ngStyle]="{'font-size':'16px', 'line-height':'1.5', 'height':'40px', 'width':'100%'}">
          <input [(ngModel)]="eventForm.Category" [ngStyle]="{'font-size':'16px', 'line-height':'1.5', 'height':'40px', 'width':'100%'}"
            type="text" class="form-control" name="Category" placeholder="Select a Category" id="eventCategoryInput">
          <input [(ngModel)]="eventForm.startTime" [ngStyle]="{'font-size':'16px', 'line-height':'1.5', 'height':'40px', 'width':'100%'}"
            type="text" class="form-control" name="sTime" placeholder="Start time of event (24h clock)" id="eventSTimeInput">
          <input [(ngModel)]="eventForm.endTime" [ngStyle]="{'font-size':'16px', 'line-height':'1.5', 'height':'40px', 'width':'100%'}"
            type="text" class="form-control" name="eTime" placeholder="End time of event (24h clock)" id="eventETimeInput">
          <button class="btn btn-outline-primary waves-effect btn-lg" id="submitButton">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>
